.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.login-form {
  background: #f9f9f9;
  padding: 10px 5%;
  border-radius: var(--border-radius);
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.form-outline {
  width: 200%; /* decrease the width of the input fields */
}
.login-form h1 {
  font-size: 30px !important;
}

.reset-password-section {
  background-color: #fff;
  padding: 15px 5%;
  border-radius: var(--border-radius);
}
